# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [21]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [22]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [50]:
customer_sum_quantity=data.groupby(['CustomerID','ProductID'],as_index=False).agg({'Quantity':'sum'}).rename(
                                    columns={'Quantity':'Total_Quantity'})
customer_sum_quantity.head()

   CustomerID  ProductID  Total_Quantity
0          33         23               1
1          33         51               1
2          33         53               1
3          33         67               1
4          33         70               1

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [4]:
pivot = data.pivot_table(index = 'ProductName',columns='CustomerID' ,values='Quantity', fill_value=0)
pivot.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0,0,0,0,0,0,0,1,0,0,...,0,25,0,0,0,0,0,0,0,0
"Appetizer - Mini Egg Roll, Shrimp",0,0,0,0,0,0,0,0,0,0,...,25,25,0,0,0,0,0,0,0,0
Appetizer - Mushroom Tart,0,0,0,0,0,0,0,1,0,0,...,25,0,0,0,0,0,0,0,25,0
Appetizer - Sausage Rolls,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,25,25,25,0,25,0
Apricots - Dried,1,0,0,0,1,0,0,0,0,0,...,0,25,0,0,0,0,0,0,0,0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [162]:
similarity = squareform(pdist(pivot.T, 'cityblock'))
similarity

array([[   0.,  115.,   93., ..., 1624., 1972., 1718.],
       [ 115.,    0.,  114., ..., 1627., 1981., 1733.],
       [  93.,  114.,    0., ..., 1617., 1961., 1721.],
       ...,
       [1624., 1627., 1617., ...,    0., 2850., 2850.],
       [1972., 1981., 1961., ..., 2850.,    0., 2900.],
       [1718., 1733., 1721., ..., 2850., 2900.,    0.]])

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [163]:
similitud_detail=pd.DataFrame(1/(1+similarity), index=pivot.columns, columns=pivot.columns)
similitud_detail.head(), similitud_detail.tail()
#Los primeros rows contienen los valores más cercanos a 1, por lo tanto, con más similitud entre esos clientes.

(CustomerID     33        200       264       356       412       464    \
 CustomerID
 33          1.000000  0.008621  0.010638  0.010101  0.009091  0.009615
 200         0.008621  1.000000  0.008696  0.008621  0.007519  0.008130
 264         0.010638  0.008696  1.000000  0.009259  0.009524  0.009009
 356         0.010101  0.008621  0.009259  1.000000  0.008772  0.008929
 412         0.009091  0.007519  0.009524  0.008772  1.000000  0.008696

 CustomerID     477       639       649       669    ...     97697     97753  \
 CustomerID                                          ...
 33          0.008621  0.009434  0.009259  0.009615  ...  0.000565  0.000635
 200         0.008547  0.008264  0.008696  0.009009  ...  0.000564  0.000633
 264         0.008696  0.008850  0.009009  0.009009  ...  0.000567  0.000635
 356         0.008772  0.010000  0.008772  0.009091  ...  0.000565  0.000635
 412         0.008696  0.009524  0.008547  0.009174  ...  0.000562  0.000637

 CustomerID     97769     97793     97900     97928     98069     98159  \
 CustomerID
 33          0.000608  0.000712  0.000590  0.000615  0.000581  0.000615
 200         0.000608  0.000713  0.000587  0.000612  0.000583  0.000614
 264         0.000607  0.000716  0.000592  0.000621  0.000583  0.000618
 356         0.000608  0.000715  0.000590  0.000617  0.000578  0.000618
 412         0.000605  0.000713  0.000589  0.000616  0.000577  0.000615

 CustomerID     98185     98200
 CustomerID
 33          0.000507  0.000582
 200         0.000505  0.000577
 264         0.000510  0.000581
 356         0.000509  0.000582
 412         0.000509  0.000583

 [5 rows x 1000 columns],
 CustomerID     33        200       264       356       412       464    \
 CustomerID
 97928       0.000615  0.000612  0.000621  0.000617  0.000616  0.000618
 98069       0.000581  0.000583  0.000583  0.000578  0.000577  0.000579
 98159       0.000615  0.000614  0.000618  0.000618  0.000615  0.000617
 98185       0.000507  0.000505  0.000510  0.000509  0.000509  0.000508
 98200       0.000582  0.000577  0.000581  0.000582  0.000583  0.000584

 CustomerID     477       639       649       669    ...     97697     97753  \
 CustomerID                                          ...
 97928       0.000616  0.000619  0.000617  0.000617  ...  0.000351  0.000392
 98069       0.000579  0.000581  0.000581  0.000582  ...  0.000333  0.000357
 98159       0.000615  0.000617  0.000619  0.000617  ...  0.000351  0.000400
 98185       0.000506  0.000510  0.000508  0.000506  ...  0.000303  0.000303
 98200       0.000579  0.000582  0.000579  0.000584  ...  0.000333  0.000351

 CustomerID     97769     97793     97900     97928     98069     98159  \
 CustomerID
 97928       0.000354  0.000412  0.000396  1.000000  0.000392  0.000392
 98069       0.000348  0.000360  0.000381  0.000392  1.000000  0.000384
 98159       0.000374  0.000381  0.000367  0.000392  0.000384  1.000000
 98185       0.000336  0.000354  0.000320  0.000322  0.000328  0.000351
 98200       0.000367  0.000367  0.000360  0.000328  0.000357  0.000351

 CustomerID     98185     98200
 CustomerID
 97928       0.000322  0.000328
 98069       0.000328  0.000357
 98159       0.000351  0.000351
 98185       1.000000  0.000345
 98200       0.000345  1.000000

 [5 rows x 1000 columns])

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [164]:
similitud_detail.head() #IDs: 33,200,264,356,412
top5_similitud = similitud_detail.iloc[0:5,0:5]
#customer_sum_quantity.loc[[33,200,264,356,412]]
top5_sum=customer_sum_quantity[customer_sum_quantity.CustomerID.isin ([33,200,264,356,412])]
top5_similitud.head(),top5_sum

(CustomerID       33        200       264       356       412
 CustomerID
 33          1.000000  0.008621  0.010638  0.010101  0.009091
 200         0.008621  1.000000  0.008696  0.008621  0.007519
 264         0.010638  0.008696  1.000000  0.009259  0.009524
 356         0.010101  0.008621  0.009259  1.000000  0.008772
 412         0.009091  0.007519  0.009524  0.008772  1.000000,
      CustomerID  ProductID  Total_Quantity
 0            33         23               1
 1            33         51               1
 2            33         53               1
 3            33         67               1
 4            33         70               1
 5            33         77               1
 6            33         91               1
 7            33        110               1
 8            33        138               1
 9            33        142               1
 10           33        154               1
 11           33        162               1
 12           33        181               1
 13           33        184               1
 14           33        187               1
 15           33        193               2
 16           33        199               1
 17           33        213               1
 18           33        214               1
 19           33        219               1
 20           33        232               1
 21           33        245               2
 22           33        259               1
 23           33        263               1
 24           33        267               1
 25           33        273               1
 26           33        281               1
 27           33        284               1
 28           33        286               1
 29           33        287               1
 ..          ...        ...             ...
 292         412        244               1
 293         412        245               1
 294         412        253               1
 295         412        258               1
 296         412        263               1
 297         412        265               1
 298         412        266               1
 299         412        270               1
 300         412        271               1
 301         412        291               1
 302         412        305               1
 303         412        318               1
 304         412        324               1
 305         412        325               1
 306         412        334               2
 307         412        338               1
 308         412        356               1
 309         412        364               1
 310         412        372               1
 311         412        379               1
 312         412        396               1
 313         412        398               1
 314         412        406               1
 315         412        409               1
 316         412        418               1
 317         412        419               1
 318         412        420               1
 319         412        423               1
 320         412        429               1
 321         412        437               1

 [322 rows x 3 columns])

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [165]:
ranked_products = top5_sum.groupby('ProductID',as_index=False).agg({'Total_Quantity':'sum'}).sort_values('Total_Quantity',ascending=False)
ranked_products.head()

     ProductID  Total_Quantity
127        245               5
121        237               4
52          88               4
49          83               4
45          77               4

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [166]:
#A que customer voy a elegir? al #33
merged = ranked_products.merge(top5_sum)
merged[merged.CustomerID != 33].head()

#Productos recomendados para el 33: IDs - 163,178,174,180,216

   ProductID  Total_Quantity  CustomerID
0        163               2         356
1        178               2         412
2        174               2         264
3        180               2         264
4        216               2         356

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [135]:
#1.-Seleccionar a los 5 más compatibles
#Así seleccionas los más compatibles de un customer, con base en el pdist y squareform. 
#del 1 al 6 para omitir el #index 0 que es ese mismo ID
list_of_CustomerIndexes=similitud_detail[33].sort_values(ascending=False)[1:6].index.tolist()
list_of_CustomerIndexes

#2.- Sacar los productos y cantidades que esos customers han comprado:
#customer_sum_quantity[customer_sum_quantity.CustomerID.isin (x)]
top5_sum=customer_sum_quantity[customer_sum_quantity.CustomerID.isin (x)]
top5_sum.head()


#3.- Agrupar por producto y ver qué productos han comprado más: RANK
ranked_products=top5_sum.groupby('ProductID',as_index=False).agg({'Total_Quantity':'sum'}).sort_values('Total_Quantity',ascending=False)
ranked_products.head()

#4.- Hacer el merge entre los productos rankeados, de donde vas a tener que sacar los ProductsID
merged = ranked_products.merge(top5_sum)
temp2 = merged[merged.CustomerID != 33].head() #estos son los productos a recomendar.

temp = {}
temp.update({'33':temp2.ProductID})
temp

{'33': 0    417
 1     26
 2    173
 3    321
 4    108
 Name: ProductID, dtype: int64}

In [167]:
def customers_recommendations(customers):
    # customers sera una lista con los ID's únicos de los clientes
    dic = {}
    for e in customers:
        #1.-
        list_of_CustomerIndexes=similitud_detail[e].sort_values(ascending=False)[1:6].index.tolist()
        #2.-
        top5_sum=customer_sum_quantity[customer_sum_quantity.CustomerID.isin (list_of_CustomerIndexes)]
        #3.-
        ranked_products=top5_sum.groupby('ProductID',as_index=False).agg({'Total_Quantity':'sum'}).sort_values('Total_Quantity',ascending=False)
        #4.-
        merged = ranked_products.merge(top5_sum)
        merged = merged[merged.CustomerID != e].head()  
        
        dic.update({e:merged.ProductID})
    
    return dic

In [159]:
lst = data.CustomerID.unique()
customers_recommendations(lst)

{61288: 0    417
 1     26
 2    173
 3    321
 4    108
 Name: ProductID, dtype: int64, 77352: 0    326
 1     34
 2    203
 3    193
 4    195
 Name: ProductID, dtype: int64, 40094: 0    417
 1     26
 2    284
 3    147
 4    158
 Name: ProductID, dtype: int64, 23548: 0    304
 1    259
 2      1
 3    236
 4    229
 Name: ProductID, dtype: int64, 78981: 0     30
 1    344
 2    250
 3    191
 4    152
 Name: ProductID, dtype: int64, 83106: 0    274
 1    168
 2     39
 3    430
 4     29
 Name: ProductID, dtype: int64, 11253: 0    362
 1    376
 2    216
 3    306
 4    209
 Name: ProductID, dtype: int64, 35107: 0    284
 1    148
 2    122
 3     84
 4    152
 Name: ProductID, dtype: int64, 15088: 0    362
 1    143
 2    192
 3    168
 4    152
 Name: ProductID, dtype: int64, 26031: 0     85
 1    200
 2    177
 3    163
 4    371
 Name: ProductID, dtype: int64, 86595: 0    383
 1    127
 2    419
 3    423
 4    205
 Name: ProductID, dtype: int64, 46715: 0    259
 1    107
 2     55
 3    413
 4    186
 Name: ProductID, dtype: int64, 91013: 0     10
 1    200
 2     62
 3    141
 4    100
 Name: ProductID, dtype: int64, 69931: 0    140
 1    368
 2    173
 3    321
 4    217
 Name: ProductID, dtype: int64, 19753: 0     63
 1     82
 2    310
 3     12
 4    215
 Name: ProductID, dtype: int64, 9546: 0    435
 1     88
 2    366
 3    330
 4    212
 Name: ProductID, dtype: int64, 10224: 0    362
 1    143
 2    233
 3    134
 4    154
 Name: ProductID, dtype: int64, 72846: 0    162
 1    289
 2    274
 3    266
 4     15
 Name: ProductID, dtype: int64, 28976: 0     99
 1     41
 2     83
 3    350
 4    359
 Name: ProductID, dtype: int64, 3267: 0    346
 1    435
 2    395
 3    236
 4    231
 Name: ProductID, dtype: int64, 19260: 0     49
 1    320
 2    180
 3    108
 4    318
 Name: ProductID, dtype: int64, 76530: 0    396
 1     10
 2    422
 3    345
 4    127
 Name: ProductID, dtype: int64, 30196: 0     82
 1     63
 2    396
 3     12
 4    147
 Name: ProductID, dtype: int64, 48818: 0    287
 1    324
 2    381
 3    276
 4    123
 Name: ProductID, dtype: int64, 15166: 0     83
 1    192
 2    167
 3    211
 4    412
 Name: ProductID, dtype: int64, 11443: 0    389
 1    259
 2    228
 3    222
 4    211
 Name: ProductID, dtype: int64, 79060: 0    227
 1    179
 2     21
 3    422
 4    345
 Name: ProductID, dtype: int64, 82597: 0    443
 1    330
 2    414
 3    158
 4    390
 Name: ProductID, dtype: int64, 62411: 0    115
 1    158
 2     70
 3    320
 4    177
 Name: ProductID, dtype: int64, 42611: 0    326
 1    117
 2    426
 3    148
 4    390
 Name: ProductID, dtype: int64, 45420: 0    141
 1    158
 2    142
 3    312
 4     11
 Name: ProductID, dtype: int64, 83495: 0    351
 1    396
 2    373
 3    150
 4    194
 Name: ProductID, dtype: int64, 47122: 0    357
 1    200
 2    152
 3    346
 4     85
 Name: ProductID, dtype: int64, 30815: 0     41
 1     99
 2    365
 3    234
 4    249
 Name: ProductID, dtype: int64, 53198: 0    413
 1    131
 2     55
 3    274
 4    158
 Name: ProductID, dtype: int64, 18591: 0    136
 1    152
 2    370
 3    382
 4    215
 Name: ProductID, dtype: int64, 62034: 0    378
 1    220
 2    237
 3     11
 4    370
 Name: ProductID, dtype: int64, 1428: 0     50
 1    381
 2    145
 3    268
 4    181
 Name: ProductID, dtype: int64, 2187: 0     50
 1    187
 2    167
 3    268
 4     47
 Name: ProductID, dtype: int64, 55162: 0    378
 1    236
 2    407
 3    430
 4    314
 Name: ProductID, dtype: int64, 22345: 0    247
 1    181
 2    296
 3    330
 4    443
 Name: ProductID, dtype: int64, 81876: 0    165
 1    140
 2    304
 3    161
 4    254
 Name: ProductID, dtype: int64, 48641: 0    380
 1    349
 2    149
 3    374
 4    129
 Name: ProductID, dtype: int64, 81034: 0    396
 1     59
 2    287
 3    381
 4    395
 Name: ProductID, dtype: int64, 29681: 0     83
 1    398
 2    129
 3     67
 4    119
 Name: ProductID, dtype: int64, 87947: 0    264
 1    275
 2     54
 3    259
 4    166
 Name: ProductID, dtype: int64, 28867: 0     47
 1      3
 2     14
 3    434
 4    422
 Name: ProductID, dtype: int64, 69967: 0    173
 1    217
 2    367
 3     29
 4    321
 Name: ProductID, dtype: int64, 94420: 0    352
 1    256
 2    330
 3    376
 4    174
 Name: ProductID, dtype: int64, 83158: 0    409
 1    174
 2    326
 3    406
 4    251
 Name: ProductID, dtype: int64, 84364: 0    158
 1    169
 2    129
 3     40
 4     38
 Name: ProductID, dtype: int64, 44742: 0     65
 1    316
 2    163
 3     44
 4    215
 Name: ProductID, dtype: int64, 7772: 0    435
 1    234
 2    358
 3    241
 4    268
 Name: ProductID, dtype: int64, 47303: 0    283
 1    276
 2    175
 3    220
 4    126
 Name: ProductID, dtype: int64, 75791: 0     55
 1    237
 2    395
 3    331
 4    439
 Name: ProductID, dtype: int64, 77756: 0    119
 1     82
 2    321
 3    140
 4    247
 Name: ProductID, dtype: int64, 97324: 0    115
 1    310
 2    370
 3    191
 4    377
 Name: ProductID, dtype: int64, 13912: 0    362
 1     73
 2    340
 3    151
 4    154
 Name: ProductID, dtype: int64, 52700: 0    299
 1    326
 2    291
 3    282
 4    163
 Name: ProductID, dtype: int64, 21734: 0     49
 1    285
 2    246
 3    232
 4    225
 Name: ProductID, dtype: int64, 6817: 0    176
 1    154
 2    122
 3    145
 4    335
 Name: ProductID, dtype: int64, 21095: 0     98
 1    359
 2    260
 3    173
 4    346
 Name: ProductID, dtype: int64, 28875: 0    114
 1    318
 2     54
 3    298
 4     32
 Name: ProductID, dtype: int64, 89588: 0    152
 1     49
 2    100
 3    425
 4     95
 Name: ProductID, dtype: int64, 1034: 0    362
 1    415
 2    314
 3    436
 4    145
 Name: ProductID, dtype: int64, 54827: 0    191
 1    277
 2    177
 3    388
 4    406
 Name: ProductID, dtype: int64, 29287: 0     66
 1    106
 2    272
 3    261
 4     46
 Name: ProductID, dtype: int64, 11102: 0    247
 1    202
 2    181
 3    171
 4    162
 Name: ProductID, dtype: int64, 52155: 0    133
 1    416
 2    285
 3    276
 4    161
 Name: ProductID, dtype: int64, 50748: 0    189
 1    130
 2    149
 3    410
 4    196
 Name: ProductID, dtype: int64, 88552: 0    397
 1    318
 2    371
 3    221
 4    194
 Name: ProductID, dtype: int64, 80938: 0    115
 1    165
 2     50
 3    320
 4    161
 Name: ProductID, dtype: int64, 60481: 0    268
 1    215
 2    425
 3    259
 4    177
 Name: ProductID, dtype: int64, 92168: 0     79
 1    202
 2    288
 3     74
 4    108
 Name: ProductID, dtype: int64, 66232: 0    264
 1    100
 2    201
 3     28
 4    416
 Name: ProductID, dtype: int64, 64348: 0    229
 1    409
 2    427
 3    320
 4     45
 Name: ProductID, dtype: int64, 37510: 0    350
 1    247
 2     97
 3    330
 4    181
 Name: ProductID, dtype: int64, 44408: 0    177
 1     56
 2     83
 3    360
 4    230
 Name: ProductID, dtype: int64, 89254: 0    239
 1    452
 2    203
 3    108
 4    174
 Name: ProductID, dtype: int64, 477: 0    104
 1    292
 2    370
 3    247
 4    134
 Name: ProductID, dtype: int64, 51483: 0    112
 1    177
 2    152
 3    277
 4    154
 Name: ProductID, dtype: int64, 97201: 0    278
 1     66
 2     56
 3    378
 4    317
 Name: ProductID, dtype: int64, 42157: 0    451
 1    322
 2     44
 3    280
 4    365
 Name: ProductID, dtype: int64, 52091: 0    250
 1    178
 2    195
 3     39
 4    450
 Name: ProductID, dtype: int64, 86065: 0    231
 1    147
 2    163
 3    258
 4    417
 Name: ProductID, dtype: int64, 18027: 0    390
 1    323
 2    314
 3    183
 4    181
 Name: ProductID, dtype: int64, 93882: 0    409
 1    123
 2    413
 3    290
 4     47
 Name: ProductID, dtype: int64, 42303: 0     60
 1    154
 2    302
 3    347
 4     78
 Name: ProductID, dtype: int64, 32010: 0    296
 1    247
 2     32
 3    330
 4    332
 Name: ProductID, dtype: int64, 53997: 0    175
 1    111
 2    255
 3    276
 4    283
 Name: ProductID, dtype: int64, 63033: 0     82
 1    321
 2    426
 3    403
 4    387
 Name: ProductID, dtype: int64, 76475: 0    205
 1    126
 2    258
 3    163
 4    419
 Name: ProductID, dtype: int64, 98185: 0    126
 1    373
 2    218
 3    209
 4    420
 Name: ProductID, dtype: int64, 84779: 0    189
 1    381
 2    197
 3      1
 4     12
 Name: ProductID, dtype: int64, 82146: 0     69
 1    240
 2    260
 3     34
 4    131
 Name: ProductID, dtype: int64, 54495: 0     39
 1    289
 2    404
 3    339
 4     67
 Name: ProductID, dtype: int64, 3903: 0    340
 1    389
 2     61
 3    145
 4    104
 Name: ProductID, dtype: int64, 79854: 0    158
 1    334
 2     31
 3    353
 4    378
 Name: ProductID, dtype: int64, 25449: 0     45
 1    234
 2    310
 3    363
 4    365
 Name: ProductID, dtype: int64, 85496: 0     43
 1    417
 2    168
 3    141
 4    270
 Name: ProductID, dtype: int64, 95017: 0    186
 1    302
 2    225
 3    205
 4    160
 Name: ProductID, dtype: int64, 33759: 0    213
 1    201
 2    230
 3    310
 4    339
 Name: ProductID, dtype: int64, 43652: 0     57
 1    401
 2    405
 3    312
 4    113
 Name: ProductID, dtype: int64, 35873: 0    173
 1    217
 2    277
 3    451
 4     41
 Name: ProductID, dtype: int64, 97769: 0    414
 1    318
 2    267
 3    222
 4    343
 Name: ProductID, dtype: int64, 891: 0    195
 1    306
 2    370
 3    376
 4    318
 Name: ProductID, dtype: int64, 85161: 0    278
 1    394
 2    272
 3     95
 4    216
 Name: ProductID, dtype: int64, 25327: 0    273
 1    280
 2    297
 3    203
 4    184
 Name: ProductID, dtype: int64, 25624: 0    173
 1    337
 2    310
 3    306
 4    291
 Name: ProductID, dtype: int64, 68416: 0    371
 1     55
 2     20
 3    344
 4    432
 Name: ProductID, dtype: int64, 44090: 0    431
 1    380
 2    427
 3    139
 4    416
 Name: ProductID, dtype: int64, 71595: 0    277
 1      8
 2    125
 3    316
 4    267
 Name: ProductID, dtype: int64, 68336: 0     80
 1    450
 2    319
 3     16
 4    403
 Name: ProductID, dtype: int64, 38497: 0     27
 1    261
 2      1
 3    140
 4    152
 Name: ProductID, dtype: int64, 10016: 0     49
 1    346
 2    236
 3    245
 4    225
 Name: ProductID, dtype: int64, 36751: 0    339
 1    394
 2     45
 3    219
 4    186
 Name: ProductID, dtype: int64, 58421: 0    423
 1    137
 2     88
 3    405
 4     47
 Name: ProductID, dtype: int64, 45498: 0    273
 1    252
 2    339
 3    236
 4    181
 Name: ProductID, dtype: int64, 50774: 0    106
 1    122
 2     84
 3    299
 4    284
 Name: ProductID, dtype: int64, 79997: 0    349
 1     64
 2    360
 3     18
 4     96
 Name: ProductID, dtype: int64, 45313: 0    140
 1    355
 2    310
 3    332
 4    436
 Name: ProductID, dtype: int64, 55715: 0      1
 1    410
 2    239
 3    242
 4    452
 Name: ProductID, dtype: int64, 40901: 0    106
 1    219
 2    212
 3    378
 4    298
 Name: ProductID, dtype: int64, 1577: 0    370
 1    145
 2    389
 3    450
 4    443
 Name: ProductID, dtype: int64, 3909: 0    236
 1    195
 2    193
 3    376
 4    443
 Name: ProductID, dtype: int64, 18480: 0    247
 1    263
 2    181
 3    171
 4    134
 Name: ProductID, dtype: int64, 41405: 0    188
 1     23
 2    413
 3     67
 4    245
 Name: ProductID, dtype: int64, 85552: 0     29
 1    259
 2    417
 3    160
 4    139
 Name: ProductID, dtype: int64, 412: 0    195
 1    236
 2    450
 3    395
 4    389
 Name: ProductID, dtype: int64, 59399: 0    252
 1    135
 2    382
 3    186
 4    394
 Name: ProductID, dtype: int64, 87849: 0    422
 1    119
 2    206
 3     96
 4    292
 Name: ProductID, dtype: int64, 26458: 0    304
 1     45
 2    438
 3    142
 4    311
 Name: ProductID, dtype: int64, 13354: 0    303
 1     50
 2    212
 3    273
 4    268
 Name: ProductID, dtype: int64, 92673: 0    158
 1    334
 2    353
 3    393
 4    140
 Name: ProductID, dtype: int64, 45759: 0    316
 1    348
 2    248
 3    140
 4    276
 Name: ProductID, dtype: int64, 55930: 0    252
 1    283
 2    158
 3    177
 4     70
 Name: ProductID, dtype: int64, 62184: 0    352
 1    254
 2    127
 3    262
 4    201
 Name: ProductID, dtype: int64, 70512: 0    252
 1    298
 2     75
 3    379
 4    400
 Name: ProductID, dtype: int64, 51451: 0    120
 1    119
 2    283
 3    276
 4    287
 Name: ProductID, dtype: int64, 46046: 0    259
 1    142
 2    332
 3    374
 4    371
 Name: ProductID, dtype: int64, 1754: 0    122
 1    167
 2    171
 3    335
 4    245
 Name: ProductID, dtype: int64, 2915: 0    318
 1    370
 2    180
 3    174
 4    151
 Name: ProductID, dtype: int64, 81591: 0    396
 1    144
 2    276
 3    426
 4    161
 Name: ProductID, dtype: int64, 78104: 0    137
 1     88
 2    423
 3    158
 4    277
 Name: ProductID, dtype: int64, 81179: 0    426
 1    181
 2    225
 3    292
 4    303
 Name: ProductID, dtype: int64, 9047: 0    235
 1    221
 2    174
 3    180
 4    166
 Name: ProductID, dtype: int64, 85292: 0    162
 1    426
 2    277
 3    276
 4     99
 Name: ProductID, dtype: int64, 95819: 0    218
 1    413
 2    178
 3    192
 4    154
 Name: ProductID, dtype: int64, 74237: 0    217
 1    132
 2    237
 3    376
 4    290
 Name: ProductID, dtype: int64, 264: 0     50
 1    209
 2    246
 3    245
 4    435
 Name: ProductID, dtype: int64, 49159: 0    283
 1    244
 2    148
 3     41
 4    310
 Name: ProductID, dtype: int64, 81845: 0    266
 1    274
 2    447
 3    119
 4    164
 Name: ProductID, dtype: int64, 4644: 0    193
 1    321
 2    122
 3    212
 4    282
 Name: ProductID, dtype: int64, 41538: 0    299
 1    344
 2    407
 3    247
 4    280
 Name: ProductID, dtype: int64, 40863: 0    296
 1    107
 2    183
 3    186
 4    367
 Name: ProductID, dtype: int64, 60759: 0     94
 1    236
 2    303
 3    405
 4     59
 Name: ProductID, dtype: int64, 17760: 0    147
 1     49
 2    364
 3    339
 4    251
 Name: ProductID, dtype: int64, 2776: 0     50
 1    187
 2     96
 3    167
 4    335
 Name: ProductID, dtype: int64, 42802: 0     68
 1    426
 2    181
 3    105
 4    112
 Name: ProductID, dtype: int64, 26353: 0    280
 1    311
 2     44
 3    208
 4    218
 Name: ProductID, dtype: int64, 25420: 0     49
 1    226
 2    209
 3    145
 4    291
 Name: ProductID, dtype: int64, 98200: 0    217
 1    407
 2    135
 3    250
 4    122
 Name: ProductID, dtype: int64, 69027: 0    162
 1    271
 2    326
 3    145
 4    290
 Name: ProductID, dtype: int64, 87030: 0    417
 1    168
 2    314
 3    407
 4    430
 Name: ProductID, dtype: int64, 27669: 0    304
 1    162
 2    161
 3    341
 4    357
 Name: ProductID, dtype: int64, 82432: 0    324
 1    132
 2    414
 3    158
 4    283
 Name: ProductID, dtype: int64, 20331: 0    383
 1    409
 2    338
 3    140
 4      6
 Name: ProductID, dtype: int64, 75022: 0     16
 1    191
 2    129
 3    370
 4    203
 Name: ProductID, dtype: int64, 14012: 0    120
 1    381
 2    213
 3    255
 4    247
 Name: ProductID, dtype: int64, 10418: 0    346
 1    231
 2    215
 3    174
 4    203
 Name: ProductID, dtype: int64, 24271: 0     57
 1    220
 2    209
 3    218
 4    213
 Name: ProductID, dtype: int64, 86662: 0    214
 1    115
 2     37
 3    348
 4     78
 Name: ProductID, dtype: int64, 22461: 0    326
 1    390
 2    411
 3    323
 4    278
 Name: ProductID, dtype: int64, 78054: 0    214
 1    102
 2    337
 3    407
 4     80
 Name: ProductID, dtype: int64, 81715: 0    217
 1    130
 2     55
 3    132
 4    318
 Name: ProductID, dtype: int64, 65757: 0     49
 1     64
 2    162
 3    349
 4    388
 Name: ProductID, dtype: int64, 4261: 0    193
 1    163
 2    318
 3    335
 4    211
 Name: ProductID, dtype: int64, 15420: 0    142
 1    303
 2    321
 3    212
 4    384
 Name: ProductID, dtype: int64, 79189: 0     73
 1    330
 2    243
 3    401
 4    443
 Name: ProductID, dtype: int64, 1839: 0     50
 1    381
 2    181
 3    167
 4    255
 Name: ProductID, dtype: int64, 27841: 0    152
 1    148
 2      3
 3    274
 4    125
 Name: ProductID, dtype: int64, 51631: 0     37
 1    407
 2    348
 3    442
 4    220
 Name: ProductID, dtype: int64, 64301: 0    145
 1    178
 2    139
 3    428
 4    259
 Name: ProductID, dtype: int64, 88245: 0     32
 1    409
 2    425
 3    198
 4     23
 Name: ProductID, dtype: int64, 1008: 0    167
 1     85
 2    369
 3    202
 4    122
 Name: ProductID, dtype: int64, 18760: 0    415
 1    134
 2    110
 3     66
 4    447
 Name: ProductID, dtype: int64, 64202: 0    227
 1    144
 2    359
 3    177
 4    283
 Name: ProductID, dtype: int64, 52154: 0    214
 1    338
 2    442
 3    348
 4    103
 Name: ProductID, dtype: int64, 70354: 0    401
 1    297
 2    422
 3     55
 4    161
 Name: ProductID, dtype: int64, 68680: 0    115
 1     54
 2    399
 3    401
 4    137
 Name: ProductID, dtype: int64, 59017: 0     22
 1    380
 2    349
 3    148
 4    158
 Name: ProductID, dtype: int64, 80167: 0     49
 1    126
 2     37
 3    449
 4    330
 Name: ProductID, dtype: int64, 14910: 0     50
 1    259
 2    369
 3    268
 4    222
 Name: ProductID, dtype: int64, 5921: 0    152
 1    351
 2    109
 3    247
 4    368
 Name: ProductID, dtype: int64, 45786: 0    374
 1    347
 2    318
 3    173
 4     66
 Name: ProductID, dtype: int64, 60612: 0    318
 1     53
 2     89
 3    149
 4    314
 Name: ProductID, dtype: int64, 56374: 0    119
 1    447
 2    361
 3     55
 4    131
 Name: ProductID, dtype: int64, 883: 0    389
 1    145
 2    369
 3    101
 4    370
 Name: ProductID, dtype: int64, 1066: 0     50
 1    337
 2    236
 3    145
 4    268
 Name: ProductID, dtype: int64, 6447: 0    246
 1    381
 2    386
 3    109
 4    255
 Name: ProductID, dtype: int64, 38125: 0    345
 1    381
 2    287
 3    176
 4    197
 Name: ProductID, dtype: int64, 77682: 0     63
 1    129
 2     40
 3    181
 4    225
 Name: ProductID, dtype: int64, 70324: 0    345
 1     85
 2    327
 3    210
 4    177
 Name: ProductID, dtype: int64, 17263: 0    151
 1    145
 2    370
 3    449
 4     21
 Name: ProductID, dtype: int64, 5177: 0    136
 1    162
 2    180
 3    259
 4    437
 Name: ProductID, dtype: int64, 95078: 0    341
 1    272
 2    270
 3    216
 4    366
 Name: ProductID, dtype: int64, 27045: 0     73
 1    151
 2     96
 3    339
 4    364
 Name: ProductID, dtype: int64, 76511: 0    304
 1    368
 2    132
 3    302
 4    352
 Name: ProductID, dtype: int64, 92255: 0    419
 1    398
 2    390
 3    198
 4    270
 Name: ProductID, dtype: int64, 47913: 0    152
 1    350
 2     56
 3     66
 4    154
 Name: ProductID, dtype: int64, 67428: 0    276
 1     69
 2    132
 3    240
 4     84
 Name: ProductID, dtype: int64, 92418: 0    185
 1     90
 2    446
 3     51
 4     32
 Name: ProductID, dtype: int64, 72433: 0     28
 1     80
 2     52
 3    387
 4    189
 Name: ProductID, dtype: int64, 31373: 0    112
 1    148
 2    291
 3    333
 4    105
 Name: ProductID, dtype: int64, 25995: 0    142
 1     29
 2    251
 3    225
 4    178
 Name: ProductID, dtype: int64, 6001: 0    120
 1    179
 2    166
 3    180
 4    192
 Name: ProductID, dtype: int64, 2754: 0    236
 1    195
 2    180
 3    174
 4    151
 Name: ProductID, dtype: int64, 75762: 0     83
 1    431
 2    340
 3    325
 4    445
 Name: ProductID, dtype: int64, 54547: 0    252
 1    139
 2    417
 3    326
 4    262
 Name: ProductID, dtype: int64, 3535: 0    370
 1    145
 2    281
 3    192
 4     90
 Name: ProductID, dtype: int64, 77950: 0     49
 1     72
 2    236
 3    130
 4     94
 Name: ProductID, dtype: int64, 58413: 0    152
 1    363
 2     53
 3    407
 4    373
 Name: ProductID, dtype: int64, 48611: 0     55
 1     85
 2    302
 3    109
 4    289
 Name: ProductID, dtype: int64, 90284: 0    170
 1    180
 2    325
 3    145
 4     99
 Name: ProductID, dtype: int64, 50416: 0     22
 1    260
 2    142
 3    155
 4     82
 Name: ProductID, dtype: int64, 58064: 0    112
 1    197
 2    364
 3    363
 4    176
 Name: ProductID, dtype: int64, 70624: 0    217
 1    407
 2    238
 3    135
 4     55
 Name: ProductID, dtype: int64, 97063: 0     12
 1    168
 2    195
 3    113
 4    211

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [160]:
df = pd.DataFrame(customers_recommendations(lst))
df.head()

,61288,77352,40094,23548,78981,83106,11253,35107,15088,26031,...,25270,17390,97029,38154,74403,49005,41286,85878,68506,3472
0,417,326,417,304,30,274,362,284,362,85,...,110,346,190,284,430,55,360,102,109,136
1,26,34,26,259,344,168,376,148,143,200,...,371,255,120,285,5,242,208,40,289,145
2,173,203,284,1,250,39,216,122,192,177,...,415,215,298,183,379,48,152,214,85,198
3,321,193,147,236,191,430,306,84,168,163,...,89,202,334,84,400,96,150,407,436,274
4,108,195,158,229,152,29,209,152,152,371,...,237,232,318,148,92,295,135,359,351,268

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [168]:
df2 = pd.DataFrame(customers_recommendations(lst))
df2.head()

#Existe mucha diferencia. De esta pequeña consulta, no veo recomendaciones similares entre los clientes.

,61288,77352,40094,23548,78981,83106,11253,35107,15088,26031,...,25270,17390,97029,38154,74403,49005,41286,85878,68506,3472
0,337,370,346,198,176,85,259,376,50,50,...,145,145,291,362,346,120,50,50,50,225
1,72,145,167,195,362,95,237,395,187,268,...,192,33,104,143,215,369,268,145,303,202
2,167,236,232,246,370,389,236,90,192,314,...,236,209,292,370,236,370,96,306,306,198
3,187,251,314,159,145,122,195,85,72,209,...,268,314,314,376,231,101,145,237,358,145
4,198,337,215,145,415,145,216,122,303,198,...,281,192,151,195,442,96,198,236,187,268